.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 10vh;
  width: 100%;
  background: url("https://smehealthcheck.credilinq.ai/static/images/header-bg.jpg")
    no-repeat;
  background-size: cover;
  &_main {
    width: 75%;
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_img {
      object-fit: contain;
      height: 100%;
    }
    &_text {
      font-size: 28px;
      line-height: 30px;
      color: white;
    }
  }
}

.navimg {
  height: 100%;
  object-fit: contain;
}
